.btn {
  width: 100%;
  border: 2px solid black;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 1.2rem; /* Reduced font size */
  text-transform: uppercase;
  padding: 0.3rem; /* Reduced padding */
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}