@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    overflow-x: hidden;
}
.container {
  max-height: 100%;
  font-family: "Cabin", sans-serif;
  /*  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  offset: hidden;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}
.navbar .logo h3 {
  padding-left: 100px;
}
.listitems {
  padding-right: 100px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: transparent;
}
.listitem {
  background-color: transparent;
}

.navbar navigation ul {
  display: flex;
  gap: 3rem;
}
.navbar navigation ul li a:hover {
  color: black;
}
.header {
  background: linear-gradient(180deg, #c4d3e1 0%, #7eb3e8 38.91%, #9fc9f2 100%);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header #main-container {
  display: flex;
  height: 80%;
  align-items: center;
}

.header .content .text-content {
    padding-top: 50px;
  flex: 60%;
  padding-left: 30px;
}
.header .content .text-content h1 {
  font-size: 5rem;
  align-items: center;
  padding-left: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header .content .text-content p {
  margin: 2rem 0;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.button {
    margin-top: 100px;  
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
.img_1{
   
    flex: 65%;
}
.img_1 img {
    width: 100%;
  height: 700px;
  margin-top: 100px;
  padding-left: 100px;
  position: relative;
  top: -0px;
}