.financial-markets-course {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.course-title {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.modules-list {
  width: 70%;
  margin: 0 auto;
}

.module {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }

  .module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    span {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .module-details {
    padding: 10px;

    p {
      margin-bottom: 10px;
      line-height: 1.6;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    ul {
      padding-left: 20px;
    }

    li {
      margin-bottom: 5px;
    }
  }
}
